* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.Calendar {
  display: flex;
  max-width: 740px;
  min-width: 320px;
  margin: 0 auto;
  border-left: 2px solid rgba(0, 0, 0, 0.08);
  border-right: 2px solid rgba(0, 0, 0, 0.08);
}